<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.ywhs_app" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="영월고등학교" android:theme="@style/MainTheme.Base" android:icon="@drawable/ywhs"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>